<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Address" value="192.168.253.63" />
    <add key="DataBaseName" value="DB_YDZF_Product_V2" />
    <add key="UserID" value="sa" />
    <add key="Password" value="sckj" />
    <add key="TableName" value="RandomExtractRecord" />
    <add key="SavePath" value="D:\work\移动执法产品\后台\fw\fw.m.doubleTask\data\entity\" />
    <add key="Namespace" value="fw.m.doubleTask.data.entity" />
    <add key="SavePath1" value="D:\work\移动执法产品\后台\fw\fw.m.doubleTask.data\model\" />
    <add key="Namespace1" value="fw.m.doubleTask.data.model" />
    <add key="IsNew" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
