<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--短信接口-->
    <!--加密-->
    <!--用户名称-->
    <add key="SmsUserName" value="05342509E598167C1D52485C0E9313E6"/>
    <!--用户口令-->
    <add key="Smsscode" value="D650930E70051261AE612B62A43F15BF"/>
    <!--加密-->
    <!--地址-->
    <add key="SmsAddress" value="http://mssms.cn:8000/msm/sdk/http/sendsms.jsp"/>
    <!--消息编号-->
    <add key="Smscmsgid" value=""/>
    <!--模板编号-->
    <add key="Smstempid1" value="WriteLogSmsModel"/>
    <!--模板编号-->
    <add key="Smstempid2" value="DocumentSmsModel"/>
    <!--短信接口-->
    <!--日志短信模版-->
    <add key="WriteLogSmsModel" value="@1@在@2@填写了@3@日志，地点@4@，内容@5@"/>
    <!--公告短信模版-->
    <add key="DocumentSmsModel" value="@1@在@2@发布了公文公告@3@"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>